head  
    title Task 8
    script(src='/js/bootstrap.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css')
    link(rel='stylesheet', href='/css/main.css')
